@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Meddon|Playfair+Display');

body {
  background-color: #fcf6ef;
  text-align: center;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  margin-top: 0 auto;
  width: 100%;
  text-align: center;
  z-index: 9999;
}
#navbar a {
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;

}
.content {
  margin-top: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60;
}
#navbar a {
  font-size: 15px;
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
}
#navbar a:hover {
  background-color: #fcf6ef;
  color: black;
}
.container {
  position: relative;
  width: 90%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;

}
.container:hover .overlay {
  opacity: 0.9;
}
.container:hover .image {
  opacity: 0.4;
}
.container:hover .text {
  color: black;
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 3px;
  opacity: 1;
}

.text {
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;


}
h1 {
  font-size: 45px;
  font-weight: 300;
  font-family: 'Playfair+Display', serif;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 60px;
}
h2 {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Josefin+Sans', sans-serif;
  letter-spacing: 3px;
  margin-top: -5px;
  margin-bottom: 60px;
  text-align: center;
}
h3 {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Playfair+Display', serif;
  letter-spacing: 8px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
p {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Josefin+Sans', sans-serif;
  letter-spacing: 2px;
  margin-top: 13px;
  margin-bottom: 60px;
  text-align: center;
}
#description {
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Josefin+Sans', sans-serif;
  text-align: left;
}
.titleinvisible {
  color: #fcf6ef;
}
dt {
  font-family: 'Playfair+Display', serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Josefin+Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
#myBtn:hover {
    background-color: white;
    color: #555;
}
/* footer */
footer {
	background: #333;
	overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
}
#footertext {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  margin-bottom: -2px;
  letter-spacing: 5px;
}
  #map {
   width: 100%;
   height: 600px;
   background-color: grey;
   margin-top: 0px;
 }
 #map-title {
 font-size: 30px;
 font-weight: 300;
 font-family: 'Playfair+Display', serif;
 letter-spacing: 5px;
 margin-top: 70px;
 margin-bottom: 25px;
 text-align: center;
 }
/* about page */
 * {
     box-sizing: border-box;
 }
 input[type=text], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     margin-top: 5px;
     margin-bottom: 20px;
     resize: vertical;

 }
 input[type=submit] {
     background-color: #555;
     color: white;
     padding: 12px 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 13px;
     font-family: 'Josefin+Sans', sans-serif;
     font-weight: 300;
     letter-spacing: 2px;
}
input[type=submit]:hover {
     background-color: white;
     color: #555;
}
#about-title {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Playfair+Display', serif;
  letter-spacing: 8px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;

  }
#quote {
  font-size: 20px;
  font-family: 'Meddon', cursive;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 19px;
}
#us {
  font-size: 14px;
  text-align: justify;
  margin-top: -10px;
}
#suggestion {
  margin-top: -30px;
  margin-bottom: 55px;
  text-align: justify;
  font-size: 14px;
}
#name {
  font-size: 13px;
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}
#email {
  font-size: 13px;
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}
#message {
  font-size: 13px;
  font-family: 'Josefin+Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}
 .column {
     float: left;
     width: 50%;
     margin-top: 6px;
     padding: 20px;
 }
 .row:after {
     content: "";
     display: table;
     clear: both;
 }
.item-active {
  margin: auto;
}
#myCarousel {
  margin:auto;
}
 @media screen and (max-width: 600px) {
     .column, input[type=submit] {
         width: 100%;
         margin-top: 0;
     }
 }
